<p>Welcome, credulous new hire! We're excited you've decided to join the AlliterativePortmanteau empire! You're reading this because you signed the exploding job offer - congratulations! You're the proud new "owner" of company equity!</p>
<p>Our modest seed round, heady founder pep talks, and hyper-minimalist downtown office are slam-dunk indicators of an unrealized twelve digit valuation. As such, you've likely spent some time investigating which auto detailing places will be able to remove Cristal stains from your Bugatti's upholstery following the triumphant post-IPO bacchanal. </p>
<p>We encourage such fantasies! They'll keep you motivated on the 80-hours-a-week path to becoming wealthy and important. This handbook will take you through the exact process of how your AlliterativePortmanteau equity will ripen into a roiling vat of fuck you money. Let's compare the journey of two hypothetical employees: Selfish Steve, and Team Player Timmy.</p>

<h2>Section 1: The Grant</h2>
<p>AlliterativePortmanteau acts like we're doing you a big favor by offering substantial equity packages. Pay no attention to the cap table behind the curtain, where your equity will be repeatedly diluted into a suitable homeopathic remedy.</p>
<h3>Selfish Steve</h3>
<p>Selfish Steve expects the equity to eventually be worth nothing. He makes sure to know what percentage of the company he is getting when accepting the offer, preferring a larger salary and modest equity.</p>
<h3>Team Player Timmy</h3>
<p>To calculate the total dollar value of his compensation, Team Player Timmy uses the following formula:</p>
<p style="font-family:courier">&nbsp;&nbsp;starting_salary<br>+&nbsp;CTO_salary&nbsp;*&nbsp;(years_to_IPO&nbsp;-&nbsp;1)<br>+&nbsp;num_granted_shares&nbsp;*<br>&nbsp;&nbsp;berkshire_hathaway_share_price</p>
<p>Team Player Timmy sees that more equity means more commas at a liquidity event. He also knows that taking more equity signals to the founders that he is fully committed to the company's success, especially since his personal finances are bound to the company's fate like a tapeworm to its host. Team Player Timmy buries the needle on the equity meter and doesn't bother the founders with pesky questions like "what percentage am I getting?"</p>

<h2>Section 2: RSUs and Tax</h2>
<p>When granting hires RSUs, AlliterativePortmanteau founders can't be bothered to worry about how employees handle tax, they're too busy tinkering with the vision.</p>
<h3>Selfish Steve</h3>
<p>Selfish Steve has no confidence the company will exit soon or ever. He files for an 83b election to limit his tax burden before an exit event. </p>
<h3>Team Player Timmy</h3>
<p>Team Player Timmy can sniff out an approaching exit like a 2 AM drunk can sniff out a pizza-by-the-slice establishment. Since he knows his equity will soon become liquid, he YOLOs his way past tax burden concerns and continues beefing up his .vimrc</p>

<h2>Section 3: The Cliff</h2>
<p>AlliterativePortmanteau equity grants all feature a one year cliff for the first 25%, and a monthly vest over the following three years for the remainder. This gives us plenty of time to scrape the bad hire bugspatter off the company's windshield, as well as encourage employees to stay with the company longer. Nothing promotes loyalty like making employees feel like they're wringing equity out of a damp rag.</p>
<h3>Selfish Steve</h3>
<p>Not wanting to be sent away empty handed, Selfish Steve tiptoes cautiously and is a bit paranoid as the one year cliff approaches. Once his cliff stake vests, he begins to evaluate the tradeoffs of staying with the company against job satisfaction, wealth diversification, and career growth. </p>
<h3>Team Player Timmy</h3>
<p>Team Player Timmy is wholly unconcerned as the one year cliff approaches, since the founders wouldn't dare cast their ninja rockstar off into the equityless abyss. Once the cliff passes, Team Player Timmy shackles his legs to his standing desk and directs all incoming recruiter email to trash. TImmy knows that only a ignoble fool would abandon the golden drips from this chinese equity torture.</p>

<h2>Section 4: Stock Options</h2>
<p>Not too long ago, it was the norm to perform amputations without anesthesia. In the same way, it's now the norm for stock options to feature a 90 day exercise window. If you don't like it, then don't let the door hit your gangrenous foot on the way out.</p>
<h3>Selfish Steve</h3>
<p>Selfish Steve avoids a golden handcuffs situation any way he can, such as with an early exercise ability, or a 10 year exercise window. If he does find himself with golden handcuffs, he isn't compelled to clean out his family's bank accounts to pay off the shares under the delusion of "If you wanna make an omelet, you gotta break some eggs".</p>
<h3>Team Player Timmy</h3>
<p>The only options Team Player Timmy is worried about are the ones available for the 48-foot yacht he's scoping out. He is blindsided by the golden handcuffs situation. Not realizing that expressions involving breakfast food might not be wholly applicable to wealth management, Team Player Timmy exhausts his contact list and scrounges together the considerable sum of money needed to exercise.</p>

<h2>Section 5: The Exit</h2>
<p>AlliterativePortmanteau prefers to have a punchier TechCrunch headline when announcing fundraising, so we like to take more money at higher valuations, and at less than desirable terms. We prefer to not trouble our regular employees with all the nasty bits like liquidation preference and dilution even though it directly affects them at an exit.</p>
<h3>Selfish Steve</h3>
<p>Should the company exit, Selfish Steve understands that employees with common stock will frequently see little or no money at all. He is hopeful, but is also resigned to this reality.</p>
<h3>Team Player Timmy</h3>
<p>Every time Team Player Timmy sees a headline announcing an acquisition of a comparable company, he takes the acquisition price and multiplies his equity percentage by that amount. He then takes the "value of his equity" and begins browsing for trendy downtown condominiums that cost roughly that much. He squeals with delight at the sight of his future home, and excitedly returns to bloating Postgres schemas with JSON fields.</p>
<h2 style="font-weight:bold">Don't be a Selfish Steve. Be a Team Player Timmy.</h2>