<p>My favorite line from <i>Knocked Up</i> is easily:</p>

<div style="padding: 0 40px;">
<p>Marriage is like that show Everybody Loves Raymond, but its not funny. All the problems are the same, but instead of all the funny, pithy dialogue, everybody is really pissed off and tense.</p>
</div>

<p>When there's money, power, pride, or reputation involved, everyone has a proclivity to take things too seriously. I'm not advocating for perpetual sloth, mayhem, and highjinks, but the best parts of my life are spent laughing.</p>

<p>The world around us is far more hilarious and absurd than people are willing to acknowledge, and that's <i>especially</i> true in Silicon Valley. After graduating college, I wound up diving headfirst in this roiling cauldron of money, influence, intelligence, and technology when I agreed to come work at a friend's startup. A week later, I flew out here and moved into a dilapidated hovel in Palo Alto to work with three other guys I barely knew. My second day out here we all piled out into my dinky rental car to drive to a large networking event at a VC office, where I </p>

<p>thrust into a large networking event at a VC office where I was  </p>