<wordnoise></wordnoise>
<h2>...well, perhaps some of those are a bit of an embellishment. I'm just a regular dude who craves <span class="giants-orange">hard problems</span>.</h2>
<h2>I graduated from the <span class="giants-orange">University of Illinois</span> in 2012 with a degree in computer engineering.</h2>
<h2>Over the past few years, I've worked at <span class="giants-orange">startups</span> involving education technology, open knowledge, and delivery logistics.</h2>
<h2>I classify myself as a <span class="giants-orange">fullstack</span> engineer, including frontend, backend, data, and everything in between.</h2>
<h2>I'm heavily involved with <span class="giants-orange">AngularJS</span>, and published a book in December 2014 through Packt Publishing.</h2>
<h2>I enjoy the great outdoors, especially places <span class="giants-orange">untrammeled by man</span>, where man himself is a visitor who does not remain.</h2>
<h2>I derive a great deal of pleasure from <span class="giants-orange">running</span>, especially long distances.</h2>