<div class="inset-desc el-cap">
  <span>Yosemite Valley outlook on summit of El Capitan</span>
  <div class="inset-quote quote">
    <i>Wilderness is not only a condition of nature, but a state of mind and mood and heart. It cannot be confined to the museum-case status—seen only as a passing diorama from superlative throughways.<br />-Ansel Adams</i>
  </div>
</div>
<hr />
<span class="pub-title">
  <h1>Treasures of Southern Yosemite and the Ritter Range</h1>
  <h2>Sierra Club Outings Backpacking Trip</h2>
  <h2>June 30 - July 4, 2015</h2>
</span>
<div class="purchase-button-area">
  <a href="http://content.sierraclub.org/outings/national/brochure/treasures-southern-yosemite-and-ritter-range-california">
    <div>Sign up for the trip on sierraclub.org</div>
  </a>
  <a href="http://content.sierraclub.org/outings/national/youth-scholarships">
    <div>Apply for a Sierra Club Youth Scholarship to get $300 off the trip</div>
  </a>
</div>
<div>
  <iframe class="gmap-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31868.901079349365!2d-119.19902980000002!3d37.689375899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80966f3a90b29275%3A0x49d8be0cfc08cf60!2sMt+Ritter%2C+Inyo+National+Forest%2C+California!5e1!3m2!1sen!2sus!4v1420431708342" frameborder="0" ></iframe>
  <h2 class="giants-orange">Trip Overview</h2>
  <p>The section of the John Muir Trail, aka Pacific Crest Trail, leading through the southern part of Yosemite NP into the Ritter Range in the adjacent Ansel Adams Wilderness offers some of the most spectacular scenery within the High Sierra.  It is a unique combination of high canyons, sparkling lakes, and rugged mountain summits.</p>
  <p>Our journey starts in Tuolumne Meadows in Yosemite NP.  After gently ascending through the big meadows of Lyell Canyon, we top the High Sierra Crest at Donohue Pass.  Mt. Lyell, Banner Peak, and Mt. Ritter, all about 13,000 feet high, dominate the skyline. From the pass we descend, passing a series of large alpine lakes into the June Lake Recreation area, where our trek ends.</p>
  <p>In addition to spectacular scenery, this trip will provide an opportunity for novices as well as experienced backpackers to improve their current backpacking skills and to learn strategies for gear selection, menu planning, and food preparation.</p>
</div>
<div class="ul-strong">
  <h2 class="giants-orange">Trip Itinerary</h2>
  <img class="pub-cover" src="http://content.sierraclub.org/outings/sites/content.sierraclub.org.outings/files/styles/trip-main/public/trips/main-images/15142a_header.jpg?itok=Y3uz7zym" />
  <p><strong>Day 1:</strong> We will meet in the afternoon on Tuesday, June 30, 2015 at a campground in the June Lake Recreation Area near Lee Vining in the Eastern Sierra (at approximately 7,500 feet elevation).  We will spend the rest of the day getting to know each other, organizing our gear, and splitting up the commissary equipment before we have dinner at the campground.</p>
  <p><strong>Day 2:</strong> We start our trip with a light breakfast at the campground and leave our cars at nearby Silver Lake. From there we ride the public YARTS bus to Tuolumne Meadows, where our hike begins. This first hiking day will be a gentle 500-foot ascent through the meadows of Lyell Canyon before we make camp along the shores of the Lyell Fork of the Tuolumne River. Total distance is about 8 miles.</p>
  <p><strong>Day 3:</strong> The terrain is getting steeper and more challenging as we climb more than 2,000 feet to cross the High Sierra at Donohue Pass (above 11,100 feet), which is flanked by mighty Mt. Lyell, the highest point within Yosemite NP.  We leave the park and enter Ansel Adams Wilderness, descending gradually to the base of the Ritter Range.  Depending on conditions and group progress, we might climb into the secluded Marie Lakes (at 10,800 feet elevation) and make camp there. Total distance is 8-10 miles, depending on where we camp.</p> 
  <p><strong>Day 4:</strong> From here on, it is mainly downhill. We follow roaring Rush Creek, which connects a series of large alpine lakes. After hiking 7-9 miles, depending on where we stay the night before, we reach our last camp at the shores of Gem Lake (at 9,000 feet elevation).</p>
  <p><strong>Day 5:</strong> A gradual 5-mile descent along Rush Creek brings us back to our cars at Silver Lake.</p>
  <p>The route and itinerary are a general plan and may need to be changed due to unforeseen conditions or circumstances. Snow conditions and runoff are always a big uncertainty on an early season trip. In addition, weather, progress of the group, campsite availability, and other factors may require the leaders to make adjustments. Participants need to be flexible.</p>
</div>
<div class="trip-link">
  <h2>
    Read more about the trip <a href="http://content.sierraclub.org/outings/national/brochure/treasures-southern-yosemite-and-ritter-range-california">
    here</a>.
  </h2>
</div>
<span class="pub-title giants-strong">
  <h1><strong>ADVENTURE BECKONS!</strong></h1>
</span>

<div class="copyright" ng-bind="'Copyright 2015 Matt Frisbie. All rights reserved. If you wish to license any of my content, please contact me.'"></div>
