<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
  <h2>Packt Publishing</h2>
</span>
<div class="purchase-button-area">
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the paperback/eBook on packtpub.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the paperback on amazon.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook-ebook/dp/B00RP13C2K/">
    <div>Get it for Kindle on amazon.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/front-cover.jpg" />
  <img style="clear: both" class="pub-cover" src="/images/back-cover.jpg" />
  <h3><strong>About the book</strong></h3>
  <p>This is not your grandmother's JavaScript cookbook. If you have a foundational understanding of the framework and want to expand your AngularJS skillset with strategies and methodologies for building performant and scaleable production applications, this is the book for you. This book assumes you have an understanding of the basics of AngularJS, and experience with JavaScript.</p>
  <ul>
    <li>Understand how to design and organize your AngularJS application to make it efficient, performant, and scaleable</li>
    <li>Discover patterns and strategies that will give your insights into the best ways to construct production AngularJS applications</li>
    <li>Get the most out of AngularJS by gaining exposure to real-world examples</li>
  </ul>
  <p>Packed with easy-to-follow recipes, this practical guide will show you how to unleash the full might of the AngularJS framework. Skip straight to practical solutions and quick, functional answers to your problems without hand-holding or slogging through the basics. Avoid antipatterns and pitfalls, and squeeze the maximum amount out of the most powerful parts of the framework, from creating promise-driven applications to building an extensible event bus. Throughout, take advantage of a clear problem-solving approach that offers code samples and explanations of components you should be using in your production applications.</p>
</div>
<hr />
<span class="pub-title">
  <h1>Learning AngularJS</h1>
  <h2>InfiniteSkills/O'Reilly Media</h2>
</span>
<div class="purchase-button-area">
  <a href="http://www.infiniteskills.com/training/learning-angularjs.html">
    <div>Get the course on infiniteskills.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the course on shop.oreilly.com</div>
  </a>
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the course on amazon.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/learning-angularjs-cover.jpg" />
  <h3><strong>About the video series</strong></h3>
  <p>In this AngularJS training course, I teach you all about this open-source JavaScript framework. This course is designed for the absolute beginner, meaning no prior knowledge of AngularJS is required, however you should already have a fundamental understanding of HTML, CSS and JavaScript.</p>
  <p>You will start by setting up the application and learning about the views, controllers, and built-in directions. From there, I will teach you about filters, showing you tricks with filters and how to create custom filters. This video tutorial will cover topics in AngularJS including service types, directives and directive communication channels, routing and promises, and advanced scope. Finally, you will learn about interacting with servers and 3rd party libraries.</p>
  <p>By the completion of this computer based training course, you will have gained the knowledge and experience necessary for working with the AngularJS framework. Working files are included, allowing you to follow along with the author throughout the lessons.</p>
</div>
<hr />
<span class="pub-title">
  <h1>What Lies Ahead for AngularJS</h1>
  <h2>O'Reilly Media</h2>
</span>
<div class="purchase-button-area">
  <a href="http://www.oreilly.com/pub/e/3167">
    <div>Watch the webcast for <strong>free</strong> on oreilly.com</div>
  </a>
  <a href="/files/oreilly-webcast-slides.pdf">
    <div>Get the PDF slides for the webcast</div>
  </a>
</div>
<div>
  <p>After quietly appearing on the scene in 2009 as part of a cloud storage service, AngularJS has since evolved into a revolutionary single page application framework that has taken the frontend development community by storm; it has outpaced Backbone's growth and has become one of the most popular open source JavaScript frameworks. As adoption balloons and the framework continues to evolve, this webcast takes a code-level look at some of the recent framework modifications, as well as upcoming changes and additions expected in the 2.0 release and beyond.</p>
</div>

<div class="copyright" ng-bind="'Copyright 2015 Matt Frisbie. All rights reserved. If you wish to license any of my content, please contact me.'"></div>
