<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
  <h2><strong>Packt Publishing</strong></h2>
</span>
<div class="purchase-button-area">
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the paperback/eBook on packtpub.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the paperback on amazon.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook-ebook/dp/B00RP13C2K/">
    <div>Get it for Kindle on amazon.com</div>
  </a>
<!--   <h2>Get it on packtpub.com: <a href="#">paperback/eBook</a></h2>
  <h2>Get it on amazon.com: <a href="#">paperback</a>&nbsp;|&nbsp;<a href="#">Kindle</a></h2> -->
</div>
<div>
  <img class="pub-cover" src="/images/front-cover.jpg" />
  <img style="clear: both" class="pub-cover" src="/images/back-cover.jpg" />
  <h3><strong>About the book</strong></h3>
  <p>This is not your grandmother's JavaScript cookbook. If you have a foundational understanding of the framework and want to expand your AngularJS skillset with strategies and methodologies for building performant and scaleable production applications, this is the book for you. This book assumes you have an understanding of the basics of AngularJS, and experience with JavaScript.</p>
  <ul>
    <li>Understand how to design and organize your AngularJS application to make it efficient, performant, and scaleable</li>
    <li>Discover patterns and strategies that will give your insights into the best ways to construct production AngularJS applications</li>
    <li>Get the most out of AngularJS by gaining exposure to real-world examples</li>
  </ul>
  <p>Packed with easy-to-follow recipes, this practical guide will show you how to unleash the full might of the AngularJS framework. Skip straight to practical solutions and quick, functional answers to your problems without hand-holding or slogging through the basics. Avoid antipatterns and pitfalls, and squeeze the maximum amount out of the most powerful parts of the framework, from creating promise-driven applications to building an extensible event bus. Throughout, take advantage of a clear problem-solving approach that offers code samples and explanations of components you should be using in your production applications.</p>
</div>