<span class="pub-title">
  <h1>Angular 2 Cookbook</h1>
  <h2>Packt Publishing</h2>
  <h2><a href="http://ngcookbook.herokuapp.com">ngcookbook.herokuapp.com</a></h2>
</span>
<div class="purchase-button-area">
  <a href="https://www.amazon.com/gp/product/1785881922/ref=as_li_tl?ie=UTF8&tag=mattfriz-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=1785881922&linkId=68034b77315ab85b2bfd1cd900bc8ccd">
    <div>Get the paperback or Kindle edition on amazon.com</div>
  </a>
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the paperback/eBook on packtpub.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/angular-2-cover.png" />
  <h3><strong>About the book</strong></h3>

  <p>Angular 2 introduces an entirely new way to build applications. It wholly embraces all the newest concepts that are built into the next generation of browsers, and it cuts away all the fat and bloat from Angular 1. This book plunges directly into the heart of all the most important Angular 2 concepts for you to conquer. In addition to covering all the Angular 2 fundamentals, such as components, forms, and services, it demonstrates how the framework embraces a range of new web technologies such as ES6 and TypeScript syntax, Promises, Observables, and Web Workers, among many others.</p>

  <p>This book covers all the most complicated Angular concepts and at the same time introduces the best practices with which to wield these powerful tools. It also covers in detail all the concepts you'll need to get you building applications faster. Oft-neglected topics such as testing and performance optimization are widely covered as well. A developer that reads through all the content in this book will have a broad and deep understanding of all the major topics in the Angular 2 universe.</p>

  <h3><strong>What You Will Learn</strong></h3>

  <ul class="spaced-list">
    <li>Understand how to best move an Angular 1 application to Angular 2</li>
    <li>Build a solid foundational understanding of the core elements of Angular 2 such as components, forms, and services</li>
    <li>Gain an ability to wield complex topics such as Observables and Promises</li>
    <li>Properly implement applications utilizing advanced topics such as dependency injection</li>
    <li>Know how to maximize the performance of Angular 2 applications</li>
    <li>Understand the best ways to take an Angular 2 application from TypeScript in a code editor to a fully function application served on your site</li>
    <li>Get to know the best practices when organizing and testing a large Angular 2 application
    </li>
  </ul>
</div>
<hr />
<span class="pub-title">
  <h1>Introduction to Modern Client-Side Programming</h1>
  <h2>O'Reilly Media</h2>
</span>
<div class="purchase-button-area">
  <a href="http://shop.oreilly.com/product/0636920043539.do">
    <div>Get the course on shop.oreilly.com</div>
  </a>
  <a href="http://www.infiniteskills.com/training/introduction-to-modern-client-side-programming.html">
    <div>Get the course on infiniteskills.com</div>
  </a>
  <a href="http://www.amazon.com/gp/product/B015HWJ8NK">
    <div>Get the course DVD on amazon.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/modern-client-side-programming.jpg" />
  <h3><strong>About the video series</strong></h3>
  <p>In this Introduction to Modern Client-Side Programming training course, I will teach you about a number of new web development concepts. This course is designed for the absolute beginner, meaning no previous experience with any of these concepts is required.</p>
  <p>Developers that are still working with client-side tech even a few years old will be left scratching their heads when the next wave of tech rolls out and changes everything about the way we code for the client. If you're looking to move into the new generation of web development, this course is for you.</p>
  <p>The course begins with an introduction to how the modern web ecosystem came to be. I discuss the historical progression of browsers, programming languages, frameworks, and APIs that led up to what we now know as client-side programming</p>
  <p>The course covers the following concepts:</p>
  <ul>
    <li><strong>A history and overview of the modern web, who is guiding it, and where it is going.</strong> What exactly is ECMAScript anyway? What are the major JavaScript frameworks and where did they come from? When do I have to start worring about all these new concepts? This chapter answers all these questions and more.</li>
    <li><strong>ECMAScript 6</strong> The next generation of JavaScript is unlike anything you've seen so far, and it's coming fast. This chapter covers all the new major features, as well as how compatibility works today and what browsers are capable of already.</li>
    <li><strong>Web Components</strong> These are already in use all over the place and you probably have no idea what they are. This chapter takes the mystery away from web components and walks you through what they do, how they work, and why they're useful.</li>
    <li><strong>TypeScript</strong> This JavaScript extension is what Angular2 is built upon, so get ahead while you can in this chapter. Oh, and did I mention it's extremely useful and allows you to supercharge your JavaScript?</li>
    <li><strong>ReactJS</strong> Facebook's brainchild is quickly gaining adoption, and a huge community is forming around it. This chapter will walk you through the basics and explain what advantages it provides.</li>
    <li><strong>Angular 2</strong> Still in development, the AngularJS community is already buzzing about what the new version of the framework will have to offer. This chapter discusses some of the major new changes to the framework, and goes through the basics of how you'll be building applications using it.</li>
    <li><strong>Meteor</strong> Isomorphic JS is a relatively new and interesting concept, and its frontrunner Meteor is taking the web development community by storm. This chapter goes through some of the basics of Meteor applications and discusses its unique offerings.</li>
  </ul>
  <p>Once you have completed this course, you will have gained a solid understanding of these new web development concepts. Working files are included, allowing you to follow along with the author throughout the lessons.</p>
</div>
<hr />
<span class="pub-title">
  <h1>Tech Talk: Data Visualization at Scale in Angular.js</h1>
  <h2>SF Front End Developers Meetup</h2>
  <h2><a href="http://www.meetup.com/SF-Front-End/events/218973031/">http://www.meetup.com/SF-Front-End/events/218973031/</a></h2>
</span>
<iframe style="display:block;margin:0 auto;" width="854" height="480" src="https://www.youtube.com/embed/-kRdXMV3OrI" frameborder="0" allowfullscreen></iframe>
<p></p>
<hr />
<span class="pub-title">
  <h1>AngularJS Web Application Development Cookbook</h1>
  <h2>Packt Publishing</h2>
  <h2><a href="http://ngcookbook.com">ngcookbook.com</a></h2>
</span>
<div class="purchase-button-area">
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the paperback/eBook on packtpub.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the paperback on amazon.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook-ebook/dp/B00RP13C2K/">
    <div>Get it for Kindle on amazon.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/front-cover.jpg" />
  <img style="clear: both" class="pub-cover" src="/images/back-cover.jpg" />
  <h3><strong>About the book</strong></h3>
  <p>This is not your grandmother's JavaScript cookbook. If you have a foundational understanding of the framework and want to expand your AngularJS skillset with strategies and methodologies for building performant and scaleable production applications, this is the book for you. This book assumes you have an understanding of the basics of AngularJS, and experience with JavaScript.</p>
  <ul>
    <li>Understand how to design and organize your AngularJS application to make it efficient, performant, and scaleable</li>
    <li>Discover patterns and strategies that will give your insights into the best ways to construct production AngularJS applications</li>
    <li>Get the most out of AngularJS by gaining exposure to real-world examples</li>
  </ul>
  <p>Packed with easy-to-follow recipes, this practical guide will show you how to unleash the full might of the AngularJS framework. Skip straight to practical solutions and quick, functional answers to your problems without hand-holding or slogging through the basics. Avoid antipatterns and pitfalls, and squeeze the maximum amount out of the most powerful parts of the framework, from creating promise-driven applications to building an extensible event bus. Throughout, take advantage of a clear problem-solving approach that offers code samples and explanations of components you should be using in your production applications.</p>
</div>
<hr />
<span class="pub-title">
  <h1>Learning AngularJS</h1>
  <h2>InfiniteSkills/O'Reilly Media</h2>
</span>
<div class="purchase-button-area">
  <a href="http://www.infiniteskills.com/training/learning-angularjs.html">
    <div>Get the course on infiniteskills.com</div>
  </a>
  <a href="http://www.amazon.com/AngularJS-Web-Application-Development-Cookbook/dp/1783283351">
    <div>Get the course on shop.oreilly.com</div>
  </a>
  <a href="https://www.packtpub.com/web-development/angularjs-web-application-development-cookbook">
    <div>Get the course on amazon.com</div>
  </a>
</div>
<div>
  <img class="pub-cover" src="/images/learning-angularjs-cover.jpg" />
  <h3><strong>About the video series</strong></h3>
  <p>In this AngularJS training course, I teach you all about this open-source JavaScript framework. This course is designed for the absolute beginner, meaning no prior knowledge of AngularJS is required, however you should already have a fundamental understanding of HTML, CSS and JavaScript.</p>
  <p>You will start by setting up the application and learning about the views, controllers, and built-in directions. From there, I will teach you about filters, showing you tricks with filters and how to create custom filters. This video tutorial will cover topics in AngularJS including service types, directives and directive communication channels, routing and promises, and advanced scope. Finally, you will learn about interacting with servers and 3rd party libraries.</p>
  <p>By the completion of this computer based training course, you will have gained the knowledge and experience necessary for working with the AngularJS framework. Working files are included, allowing you to follow along with the author throughout the lessons.</p>
</div>
<hr />
<span class="pub-title">
  <h1>What Lies Ahead for AngularJS</h1>
  <h2>O'Reilly Media</h2>
</span>
<div class="purchase-button-area">
  <a href="http://www.oreilly.com/pub/e/3167">
    <div>Watch the webcast for <strong>free</strong> on oreilly.com</div>
  </a>
  <a href="/files/oreilly-webcast-slides.pdf">
    <div>Get the PDF slides for the webcast</div>
  </a>
</div>
<div>
  <p>After quietly appearing on the scene in 2009 as part of a cloud storage service, AngularJS has since evolved into a revolutionary single page application framework that has taken the frontend development community by storm; it has outpaced Backbone's growth and has become one of the most popular open source JavaScript frameworks. As adoption balloons and the framework continues to evolve, this webcast takes a code-level look at some of the recent framework modifications, as well as upcoming changes and additions expected in the 2.0 release and beyond.</p>
</div>

<div class="copyright" ng-bind="'Copyright 2015 Matt Frisbie. All rights reserved. If you wish to license any of my content, please contact me.'"></div>
